# ======================
# GLOBAL DEPENDENCIES
# ======================
node_modules/

# ======================
# ENV FILES (ALL PROJECT)
# ======================
.env
.env.*
*.local

# ======================
# BUILD OUTPUTS
# ======================
dist/
build/
dist-ssr/

# ======================
# LOG FILES
# ======================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ======================
# OS FILES
# ======================
.DS_Store
Thumbs.db

# ======================
# EDITORS / IDE
# ======================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ======================
# OPTIONAL
# ======================
coverage/

# ======================
# YOUR CUSTOM
# ======================
.apnaGit/